@model List    

<section id ="account">
    <div class="navbar">

        @foreach (var item in Model)
        {
            <ul>
                <li>@item</li>
            </ul>
            
        }
    </div>
</section>